<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="4" :key="1">
        <v-card>
          <v-card-title>ABC Salon<v-spacer></v-spacer>125489</v-card-title>
          <v-card-subtitle>Tier 1, YTD $1,000 Prior YTD $4,000</v-card-subtitle>
          <v-card-text>Pittsburgh, PA 15217</v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="4" :key="2">
        <v-card>
          <v-card-title>Contacts</v-card-title>
          <v-card-text>
            Jim McNamara 412-1234567

            <p>6708 Wilkins Ave <br />Pittsburgh, PA 15217</p>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" sm="4" :key="3">
        <v-card>
          <v-card-title>Activities</v-card-title>
          <v-card-text>
            <ul>
              <li>1</li>
              <li>2</li>
            </ul>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {}
</script>

<style></style>
