<template>
  <v-form ref="form" v-model="valid">
    <h1>Form</h1>
    <v-text-field
      v-model="note1"
      :counter="10"
      label="Name"
      required
    ></v-text-field>
    <v-text-field
      v-model="note2"
      :counter="10"
      label="Name"
      required
    ></v-text-field>
    <v-select
      v-model="select"
      :items="items"
      :rules="[v => !!v || 'Item is required']"
      label="Item"
      required
    ></v-select>
    <v-textarea
      v-model="description"
      label="Description of activity"
      counter="1000"
    ></v-textarea>
    <v-file-input
      multiple
      accept="image/*"
      label="Upload Photos"
      chips
      show-size
      counter
      prepend-icon="mdi-camera"
    ></v-file-input>
    <v-checkbox
      v-model="checkbox"
      :rules="[v => !!v || 'You must agree to continue!']"
      label="Do you agree?"
      required
    ></v-checkbox>
    <v-menu
      ref="datemenu"
      v-model="datemenu"
      :close-on-content-click="false"
      :return-value.sync="date"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="date"
          label="Picker without buttons"
          prepend-icon="mdi-calendar"
          readonly
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker v-model="date" no-title scrollable>
        <v-spacer></v-spacer>
        <v-btn text color="primary" @click="datemenu = false">Cancel</v-btn>
        <v-btn text color="primary" @click="$refs.datemenu.save(date)"
          >OK</v-btn
        >
      </v-date-picker>
    </v-menu>

    <v-btn :disabled="!valid" color="success" class="mr-4" @click="validateMe"
      >Validate</v-btn
    >
    <v-btn color="default" :to="{ name: 'Data' }">Cancel </v-btn>
    <v-progress-linear
      color="deep-purple accent-4"
      indeterminate
      rounded
      height="6"
    ></v-progress-linear>
  </v-form>
</template>

<script>
export default {
  data: () => ({
    valid: true,
    note1: '',
    note2: '',
    description: '',
    select: null,
    items: ['A', 'B', 'C'],
    checkbox: false,
    date: new Date().toISOString().substr(0, 10),
    datemenu: false,
  }),
  methods: {
    validateMe: function() {
      console.log('validateMe called')
    },
  },
}
</script>

<style></style>
