<template>
  <div class="home">
    <h1>Home page</h1>

    <p>{{ version }}</p>
    <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  data: () => ({
    version: '0.0.2',
  }),
  components: {
    HelloWorld,
  },
}
</script>
