<template>
  <v-app-bar app color="primary" dark>
    <v-app-bar-nav-icon @click.stop="menuclick"></v-app-bar-nav-icon>
    <v-toolbar-title>Application</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-btn
      href="https://github.com/vuetifyjs/vuetify/releases/latest"
      target="_blank"
      text
    >
      <v-icon>mdi-open-in-new</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
export default {
  methods: {
    menuclick: function() {
      this.$store.commit('TOGGLE_DRAWER')
    },
  },
}
</script>

<style></style>
