<template>
  <v-navigation-drawer :value="drawerOpen" app @input="handleDrawer">
    <v-list dense>
      <v-list-item link :to="{ name: 'Home' }" exact>
        <v-list-item-action>
          <v-icon>mdi-home</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Home</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item link :to="{ name: 'Contact' }">
        <v-list-item-action>
          <v-icon>mdi-email</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Contact</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item link :to="{ name: 'Data' }">
        <v-list-item-action>
          <v-icon>mdi-island</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Data</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item link :to="{ name: 'ActivityForm' }">
        <v-list-item-action>
          <v-icon>mdi-calendar</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Add Activity</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item link :to="{ name: 'SalonRecord' }">
        <v-list-item-action>
          <v-icon>mdi-forward</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>View A Salon</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  data() {
    return {}
  },
  computed: {
    //Fixed: use the :value instead of v-model since that was not working with Veux
    drawerOpen: function() {
      return this.$store.state.drawerOpen
    },
  },
  methods: {
    handleDrawer: function(e) {
      console.log('handleDrawer', e)
      if (!e) {
        this.$store.commit('CLOSE_DRAWER')
      }
    },
  },
}
</script>

<style></style>
