<template>
  <v-app>
    <Navdrawer></Navdrawer>
    <Navbar></Navbar>

    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Navbar from './components/Navbar'
import Navdrawer from './components/Navdrawer'

export default {
  name: 'App',
  components: {
    Navbar,
    Navdrawer,
  },

  data: () => ({
    //
  }),
  mounted: function() {
    const viewportWidth =
      window.innerWidth || document.documentElement.clientWidth
    if (viewportWidth > 799) {
      this.$store.commit('OPEN_DRAWER')
    }
  },
}
</script>
